.text {
  font-family: Arial, "Helvetica", sans-serif;
}

.title {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
}

.label {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(10, 10, 10);
  font-size: 14px;
  margin-bottom: 3px;
}

.header {
  margin-left: 200px;
  text-align: center;
  height: 80px;
  width: -moz-available;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(40, 40, 40);
}

.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-top: 80px;
  background-color: rgb(40, 40, 40);
}

.side-bar-link {
  padding: 8px;
  font-family: Arial, "Helvetica", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
}

.side-bar-link:hover {
  background-color: rgb(60, 60, 60);
}

.side-bar-color-unselected {
  background-color: rgb(40, 40, 40);
}

.side-bar-color-selected {
  background-color: rgb(100, 100, 100);
}

.content-container {
  height: 100%;
  margin-left: 200px;
  margin-top: 80px;
  padding: 10px;
}

.form-input {
  margin-bottom: 10px;
}

.new-grocery-button {
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.grocery-list-card {
  margin: 20px;
  width: 300px;
}

.grocery-check-list-item {
  padding-left: 10px;
  padding-top: 3px;
  display: block;
  text-align: left;
  height: 30px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.125);
  -o-transition:background-color .1s ease-out;
  -ms-transition:background-color .1s ease-out;
  -moz-transition:background-color .1s ease-out;
  -webkit-transition:background-color .1s ease-out;
  transition:background-color .1s ease-out;
}

.grocery-check-list-item-checked {
  background-color: #dbaf91;
  text-decoration: line-through;
}

.grocery-check-list-item-checked:hover {
  background-color: #dbbba4;
  text-decoration: line-through;
}

.grocery-check-list-item-unchecked {
  background-color: #E0E0E0;
}

.grocery-check-list-item-unchecked:hover {
  background-color: #F2F2F2;
}

.grocery-list-block {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.grocery-list-card-body {
  padding: 0px !important;
}

.new-grocery-check-list-item {
  padding-left: 10px;
  padding-top: 3px;
  display: block;
  text-align: center;
  height: 30px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.125);
  -o-transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  background-color: #C0C0C0;
  color: #000;
}

.new-grocery-check-list-item:hover {
  background-color: #A3F57D;
  color: #FFF;
}

.grocery-list-editable-item {
  padding: 5px;
}

.grocery-list-footer {

}

.groceries-input-box {
  width: 50%;
}

.groceries-suggestions-div {
  position: absolute;
  background-color: #EEEEEE;
  width: 100%;
}

.groceries-suggestions-list {
  list-style-type: none;
  padding-left: 0px;
}

.groceries-suggestions-item {
  border: 1px;
}

.groceries-suggestions-item-selected {
  background-color: #c5d2dd;
  font-weight: bold;
  cursor: pointer;
}

.searchable-input-selected {
  background-color: #c4e0c0;
  border-radius: 3px;
  padding: 2px;
}

.searchable-input-selected:hover {
  background-color: #40e82e;
  cursor: pointer;
  color: #fff;
}
