.text {
  font-family: Arial, "Helvetica", sans-serif;
}

.title {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(255, 255, 255);
}

.label {
  font-family: Arial, "Helvetica", sans-serif;
  color: rgb(10, 10, 10);
  font-size: 14px;
  margin-bottom: 3px;
}

.header {
  margin-left: 200px;
  text-align: center;
  height: 80px;
  width: -moz-available;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(40, 40, 40);
}

.side-bar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  padding-top: 80px;
  background-color: rgb(40, 40, 40);
}

.side-bar-link {
  padding: 8px;
  font-family: Arial, "Helvetica", sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
}

.side-bar-link:hover {
  background-color: rgb(60, 60, 60);
}

.side-bar-color-unselected {
  background-color: rgb(40, 40, 40);
}

.side-bar-color-selected {
  background-color: rgb(100, 100, 100);
}

.content-container {
  height: 100%;
  margin-left: 200px;
  margin-top: 80px;
  padding: 10px;
}

.form-input {
  margin-bottom: 10px;
}

.new-grocery-button {
  margin-bottom: 10px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.grocery-list-card {
  margin: 20px;
  width: 250px;
}

.grocery-check-list-item {
  padding-left: 10px;
  padding-top: 3px;
  display: block;
  text-align: left;
  height: 30px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.125);
  -o-transition:background-color .1s ease-out;
  -ms-transition:background-color .1s ease-out;
  -moz-transition:background-color .1s ease-out;
  -webkit-transition:background-color .1s ease-out;
  transition:background-color .1s ease-out;
}

.grocery-check-list-item-checked {
  background-color: #00FF00;
}

.grocery-check-list-item-checked:hover {
  background-color: #80FF80;
}

.grocery-check-list-item-unchecked {
  background-color: #E0E0E0;
}

.grocery-check-list-item-unchecked:hover {
  background-color: #e6ede6;
}

.grocery-list-block {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.grocery-list-card-body {
  padding: 0px !important;
}

.grocery-check-button {
}
